*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Poiret One", system-ui;
  font-size: 1.3rem;
  color: #0c0c0c;
  background-color: #efe8e3;
}

ul,
li {
  margin: 0;
}

button {
  background-color: none;
  border: none;
  font: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
